target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
bin/

### Mac ###
.DS_Store

### Logs ###
*.log

### Environment ###
.env
application-local.properties
